.footer {
  position: relative;
  width: 100vw;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: $white;
  padding-bottom: 50px;

  .rig {
    flex: 1;
    padding: 20px;
    padding-right: 50px;
    h1 {
      font-family: $koulen;
      font-size: 50px;
      font-weight: 900;
      line-height: 1.2;
      color: $black;
      text-align: left;
      padding: 10px;
    }
    p {
      font-size: 20px;
      font-family: $roboto;
    }
  }

  .lef {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .logo {
      margin-bottom: 40px;
    }

    .sociallinks {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      a {
        width: 40px;
        height: 40px;
        display: flex;
        background-color: $blue_dark;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        margin: 15px;
      }
    }
  }
}

@media screen and(max-width: 730px) {
  .footer {
    flex-direction: column;
  }
}
