.section {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainButton {
  position: relative;
  padding: 15px 25px;
  outline: none;
  margin: 40px;
  color: $yellow_light;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.mainButton:hover {
  box-shadow: 0 0 10px $yellow_dark, 0 0 25px $yellow_light,
    0 0 50px $yellow_dark;
  transition-delay: 0.6s;
}

.mainButton span {
  position: absolute;
}

.mainButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $yellow_dark);
}

.mainButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.mainButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $yellow_light);
}

.mainButton:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.mainButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $yellow_dark);
}

.mainButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.mainButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $yellow_light);
}

.mainButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.mainButton:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.logo {
  font-family: $koulen;
  font-size: 50px;
  color: $yellow_dark;
  letter-spacing: 4.8px;
  line-height: 1.5;
}

.navlogo {
  color: $yellow_light;
  letter-spacing: 3.8px;
  font-size: 20px;
}

.up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  z-index: 999;
  bottom: 20px;
  background: $blue_dark;
  display: flex;
  justify-content: center;
  align-items: center;
}
