header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  background: $black;
  z-index: 1000;
  transition: 0.4s ease-out;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    transition: opacity 0.6s 0.3s, clip-path 0.9s 0.3s;
    list-style: none;

    .nav-link {
      transition: opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      // &:nth-last-of-type()

      @for $i from 1 through 4 {
        &:nth-of-type(3n + #{$i}) {
          transition-delay: random() + s;
        }
      }

      a,
      h3 {
        cursor: pointer;
        margin: 0.2rem;
        font-size: 18px;
        font-family: $roboto;
        color: $white;
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }

        &:hover {
          color: $yellow_light;
        }
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: $yellow_light;
      height: 2px;
      width: 20px;
      border-radius: 4px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $yellow_light;
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    position: absolute;
    top: -100px;

    &:focus ~ .menu-icon {
      .menu_icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 60px;
    // background: $purple;
    // background: rgb(107, 59, 107);
    // background: linear-gradient(
    //   140deg,
    //   rgba(107, 59, 107, 1) 0%,
    //   rgba(175, 95, 132, 1) 60%
    // );
    color: $yellow_light;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: $yellow_light;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .header,
  header {
    .menu-icon {
      display: block;
      &__line {
        animation: closeMid 0.8s backwards;
        animation-direction: reverse;
        &::before {
          animation: closeTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closeBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: $yellow_light;
      background: $black;
      // display: none;
      clip-path: circle(200px at top right);

      .nav-link {
        opacity: 0;
        transform: translateX(130%);
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 2rem 0;
          color: $yellow_light;
        }
      }
    }

    .menu-btn:checked ~ .nav-links {
      // display: flex;
      color: $yellow_light;
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.2s ease-in-out 1s,
          transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

        @for $i from 1 through 4 {
          &:nth-of-type(3n + #{$i}) {
            transition-delay: random() + s;
          }
        }
      }
    }

    .menu-btn:checked ~ .menu-icon {
      border-radius: 90px;
      animation: pulse 1s;

      .menu-icon__line {
        background: $yellow_dark;
        animation: openMid 0.8s forwards;
        &::before {
          background: $yellow_dark;
          animation: openTop 0.8s forwards;
        }

        &::after {
          background: $yellow_dark;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }
}
