@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$roboto: "Roboto", sans-serif;
$koulen: "Koulen", cursive;

$white:#FFF0E5;
$yellow_light: #ffd60a;
$yellow_dark: #ffc300;
$blue_light: #003566;
$blue_dark: #001d3d;
$black: #000814;
