* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p{
  text-indent: 20px;
}

html, body{
  overflow-x: hidden
}

@import "variables";
@import "generics";
@import "navbar";
@import "footer";
@import "home";
@import "login";
@import "userpage";
@import "facultati";
